<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Conferance</title>
    <link rel="stylesheet" href="Video.module.css" />
  </head>
  <body>
    <div class="header">
      <nav>
        <img src="images/logo.png" class="logo" alt="" />
        <ul>
          <li><img src="images/live.png" class="active" alt="" /></li>
          <li><img src="images/video.png" alt="" /></li>
          <li><img src="images/message.png" alt="" /></li>
          <li><img src="images/notification.png" alt="" /></li>
          <li><img src="images/users.png" alt="" /></li>
          <li><img src="images/setting.png" alt="" /></li>
        </ul>
      </nav>
      <div class="container">
        <div class="top-icons">
          <img src="images/search.png" alt="" />
          <img src="images/menu.png" alt="" />
        </div>
        <div class="row">
          <div class="col-1">
            <img src="images/image.png" class="host-img" alt="" />
            <div class="contarols">
              <img src="images/chat.png" alt="" />
              <img src="images/disconnect.png" alt="" />
              <img src="images/call.png" class="call-icon" alt="" />
              <img src="images/mic.png" alt="" />
              <img src="images/cast.png" alt="" />
            </div>
          </div>
          <div class="col-2">
            <div class="joined">
              <p>People Joined</p>
              <div>
                <img src="images/people-1.png" alt="" />
                <img src="images/people-2.png" alt="" />
                <img src="images/people-3.png" alt="" />
                <img src="images/people-4.png" alt="" />
                <img src="images/people-5.png" alt="" />
              </div>
            </div>
            <div class="invite">
              <p>Invite More People</p>
              <div>
                <img src="images/user-1.png" alt="" />
                <img src="images/user-2.png" alt="" />
                <img src="images/user-3.png" alt="" />
                <img src="images/user-4.png" alt="" />
                <img src="images/user-5.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
